// Стили для файла с примером HTML-фрагмента

@import './breakpoints';
@import './fonts.scss';
@import './variables';

body {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: 'Circe', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  // background-color: transparent;

  // @media screen and (min-width: 768px) {
  //   background-image: url('../assets/images/ellipse-pink.png') no-repeat 100% 0,
  //     url('../assets/images/ellipse-violet.png') no-repeat 0 100%;

  //   background-color: #e7eaf2;
  // }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
