.BgPageContainer {
  @media screen and (min-width: 768px) {
    padding: 60px 114px 196px 114px;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1280px) {
    position: relative;
    padding: 0;
    width: 1280px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.BgSignupPageContainer {
  composes: BgPageContainer;

  @media screen and (min-width: 768px) {
    padding: 60px 114px 50px 114px;
  }

  @media screen and (min-width: 1280px) {
    position: relative;
    padding: 0;
  }
}
