.DateBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
  // z-index: 1;
}

.Date {
  width: 280px;
  height: 34px;
  text-align: left;
  padding: 0 0 10px 5px;

  font-family: 'Circe', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  border: none;
  background: transparent;

  outline: none;

  @media screen and (min-width: 768px) {
    width: 190px;
    text-align: center;
    padding-left: 0;
  }
}

.datePicker {
  position: absolute;
  top: 40px;
  z-index: 1;
}

.BtnIconCalendar {
  position: absolute;
  bottom: 10px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
